.item-title {
  font-size: 3em;
}
.author span {
  font-size: 1em;
  font-weight: bold;
}
.description-container {
  display: flex;
}
.description-item {
  margin-left: 10px;
  font-size: 1.2em;
}

.footer-site {
  background-color: #f1f1f1;
  padding: 50px;
}

.btn-container {
  display: flex;
}

.btn-container a{
  margin-left: 10px;
}
.btn-container a:first-child {
  margin-left: 0;
}

.container-form {
  margin: 20px;
}
.gender-form {
  margin-left: 50px;
}
.vh-80 {
  height: 80vh;
}
.list-container {
  margin-left: 50px;
}

.item {
  min-height: calc(100vh - 180px);
}
.img-item {
  display: flex;
  justify-content: center;
}